* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 63, 102) !important;
    } 
  /* ------------------------------------------------------navbarcss--------------------------------------------------- */
  
 
.ss img
{
  border-radius: 24px;
  transition: 0.5s;
  
  border: 2px solid rgb(220, 243, 220);;
  /* border: black solid; */
}

.ss img:hover
{
  transform: scale(1.03);
  box-shadow:0 4px 30px #98be89;
  /* box-shadow: 4px 9px  #98be89; */
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#navbarNav {
  /* height: 50px; */
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 8px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: rgb(51, 63, 102) !important;
  position: relative;
 
}

#nav-bar ul li a:hover {
  color: rgb(3, 13, 43) !important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}

.first-child {
  color: #37701f !important;
}

.navbar-nav a:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #309605;
  transition: 0.4s linear;
}

.navbar-nav a:hover:before {
  width: 100%;
}

  
/* ----------------------------------------------------------------Hr css-------------------------------------------------- */
hr {
    width: 100%;
    height: 90px;
    color: darkblue;
    background-color: darkblue;
  }
  

  /* ---------------------------------------contact body------------------------------------------- */
  
  .contactbody h1
  {
    text-align: center;

  }

  .contactbody
  {
   
    font-weight: 500;
  }

  .aa
  {
    
    background-color:rgb(214, 234, 240);
    padding-right: 10px;
  }

  .bb
  {
    /* background-color: rgb(189, 240, 187); */
    background-color: rgb(214, 234, 240);
    margin-bottom: 17px;
    
  }

  .card-body
{
  color: white;
  background-color:black; 
  opacity: 0.9;
  
}

#map
{
    height: 300px;
    width:71%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    transition: .7s;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 16px 16px 22px black;
}

#map:hover
{
    box-shadow:0 10px 20px black;
    /* height: 350px; */
    /* width:80%; */
}

.mapp,.add h2
{
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: 700; */
 
}

.add
{
  line-height: 43px;
 
}



.add a{
  color: black;
}

.add a:hover
{
  color: black;
}


.col-12
{
  text-align: center;
 
}

.card-footer 
{
  background-color: #2c2c2e;
  border-top: 1px solid rgb(32, 31, 31);
  opacity: 0.8;
}
.text-muted {
  color: white!important;
}

/* for navbar and below card footer */
.bg-dark {
  background-color: black!important;
  opacity: 0.9;

}

.card-header
{
    background-color:#e0eaec;
    opacity: 0.9;
    /* background-color: black; */
    border-bottom: 1px solid
}

.col-12 {
    text-align: center;
    padding-top: 12px;;
}
.row-content
{
/* max-width: 96 !important; */
padding-right: 25px;
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 102px;
}


.form-check {
    text-align: left;
}

form{
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 0px; 
}

h3
{
    font-weight:bold;
    font-size: 40px;
}

h5
{
    font-weight:bold;
    font-size: 30px;
    padding-top: 30px;
}

.btnf
{
    width: 200px;
    font-size: 20px !important;
    background-color: rgb(252, 49, 49);
    border-radius: 15px !important;
    transition: 1s !important;
    height: 50px;
    box-shadow:0 4px 30px rgb(165, 45, 45);

}

.btnf:hover
{
  background-color: rgb(17, 16, 16)  !important;
color: white  !important;
border: rgb(10, 10, 10);
/* width: 210px; */
/* height: 60px; */
box-shadow:0 4px 30px black;
/* box-shadow: yellowgreen; */
}

.vv
{
    color: red;
    font-size: 70px;
}



h5
{
    font-size: 30px;
}

  /* -------------------------------------------------------footer css--------------------------------------------------- */
  .xtra_space
  {
    margin-right: 0px !important;
  }
  
.footer {
  
  background-color: rgb(143, 175, 223);
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  
}

.about_us a
{
  color: black;
}

.about_us a:hover
{
  color: black;
 
}

.contact li a
{
  font-size: 17px;
  transition: .7s;
}

.contact li a:hover
{
font-size: 22px;


}

.footer h2 {
  color: rgb(51, 63, 102) !important;
  font-weight: bold;
}

.footer-body {
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.footer-body p
{
  font-size: 28px;
  line-height: 49px;
}

.footer-body .links a
{
  font-size: 22px;
}

.footer-copyright {
  background-color: rgb(24, 38, 85);
  
  color: white;
  text-align: center;
  padding: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.footer-copyright p {
  font-size: 18px;
}

.footer-body ul {
  list-style: none;
}

.footer-body ul a {
  color: black;
}

/* ----------------------------------------------------------media-query-------------------------------------------------------- */
@media (max-width: 768px) 
{
  .ahn .fa 
  {
    transition: 0.7s;
    width: 100px;
    height: 80px;
    /* box-shadow:0 4px 30px black; */
  }

  .footer
{
  height: 72vh;
}


.contact li
{
  display: inline;
  padding-left: 12px;
}

.about_us p 
{
  line-height: 40px;
  font-weight: 500;
}

.footer-copyright
{
  padding: 9px;
}

address {
  margin-left: 15px;
}


}